* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: rgb(68, 7, 65);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav {
    width: 80px;
    font-size: 25px;
    background-color: rgb(102, 14, 98);
    overflow: hidden;
    transition: all 0.2s linear;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.nav ul {
    list-style: none;
}

.nav ul li a{
    display: flex;
    flex-direction: row;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    padding-left: 1em;
    justify-content: start;
    align-items: center;
}
.nav ul li {
    transition: all 0.2s;
}
.nav ul li:hover {
    background-color:rgb(136, 27, 130);

}


.nav ul li a{
    text-decoration: none;
    color: white;
}

.nav ul li a i {
    display: inline-block;

}
.nav ul li a span {
    display: inline-block;
    margin-left: 2em;
}

.nav:hover {
    width: 300px;
}