* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 20px;
    line-height: 1.5em;
}

.content {
    padding: 1.6em;
    background-color: rgba(255, 255, 255, 0.74);
}

p {
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

.bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-image: url(https://cdn.pixabay.com/photo/2021/01/28/03/13/person-5956897_960_720.jpg);
}

h1 {
    font-size: 80px;
    color: white;
    text-shadow: 0px 0px 10px black ;
}

.header_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
}


section:nth-of-type(1) {
    background-image: url(https://cdn.pixabay.com/photo/2020/12/18/15/29/mountains-5842346_960_720.jpg);
}

section:nth-of-type(2) {
    background-image: url(https://cdn.pixabay.com/photo/2020/12/10/08/44/mountains-5819651_960_720.jpg);
}

section:nth-of-type(3) {
    background-image: url(https://cdn.pixabay.com/photo/2021/01/29/09/33/beach-5960371_960_720.jpg);
}

section:nth-of-type(4) {
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg);
}