* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading__inner {
    width: 10px;
    height: 10px;
    background-color: black;
    position: relative;
}

.loading__inner span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top:calc( 200px * var(i));
    left:50%;
}