* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action {
    border-left: 1px dashed black;
}

.actions button {
    display: block;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
    border: 1px solid black;
    padding: 1em 1.5em;
    cursor: pointer;
}

.main {
    position: relative;
}

.select__field {
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding-left: 20px;
}

.select__items {
    position: absolute;
    display: none
}

.select__item {
    width: 500px;
    list-style: none;
    padding: 5px 15px;
    cursor: pointer;
    transition: 0.2s;

}

.select__item:hover {
    background-color: rgb(194, 194, 194);
}

.open {
    display: block;
}

.hide {
    display: none;
}