* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    min-height: 100vh;
    max-width: 400px;
    list-style: none;
    padding: 20px 0 0;
    font-size: 30px;
    font-weight: 700;
    background-color: rgb(221, 221, 221);
}

ul li {
    cursor: pointer;
}


ul li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    transition: all .2s linear;
}

ul li a:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}